body {
	font-family: helvetica;
	margin: 0 auto;
	max-width: 850px;
	padding: 0 10%;
	color: #555;
}

nav ul {
	list-style: none;
	padding: 5px 0px 15px 0px;
	border-bottom: .5px solid #ccc;
}

nav li {
	display: inline;
	font-size: 20px;
	padding: 0px 20px 0px 0px;
}

h1 {
	font-size: 36px;
	color: #ff7860;
	margin: 20px 20px 20px 0px;
}

h2 {
	font-size: 17px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
	line-height: 30px;
	margin: 10px 0px;
}

a {
	text-decoration: none;
	color: #ff7860;
}

p {
	font-size: 17px;
	line-height: 30px;
	margin: 0px 0px 20px 0px;
}

.about_container {
	display: inline-block;
	max-width: 850px;
}

.about_container img {
	width: 40%;
	max-width: 300px;
	min-width: 250px;
	margin: 25px 25px 25px 0px;
	float: left;
	border: 0.5px solid #ccc;
}

.about_text {
	text-align: left;
}

.tk {
	font-style: italic;
	color: #ccc;
}

.project_list {
	list-style: none;
	padding: 0px;
	margin-bottom: 90px;
}

.project_list_container img {
	width: 40%;
	max-width: 300px;
	min-width: 250px;
	margin: 0px 20px 20px 0px;
	float: left;
	border: 0.5px solid #ccc;
}

.project_list_container {
	display: inline-block;
	width: 100%;
}

.project_list_text {
	text-align: left;
}

footer {
	text-align: center;
	background-color: #333;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 0px;
}

footer p {
	color: white; 
	font-size: 16px;
	text-transform: uppercase;
}

footer ul {
	list-style: none;
	padding: 0px;
}

footer li {
	display: inline;
	text-align: center;
	padding-right: 10px;
	color: white;
}

footer a {
	text-decoration: none;
}