body {
	font-family: helvetica;
	margin: 0 auto;
	padding: 0 23%;
}

nav ul {
	list-style: none;
	padding: 0px 0px 15px 0px;
	border-bottom: .5px solid #ccc;
}

nav li {
	display: inline;
	font-size: 20px;
	padding: 0px 20px 0px 0px;
}

h1 {
	font-size: 30px;
	color: orange;
	padding: 10px 0px 0px 0px;
}

h2 {
	font-size: 18px;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 1px;
	line-height: 26px;
}

a {
	text-decoration: none;
	color: orange;
}

p {
	font-size: 18px;
	line-height: 30px;
}

p em {
	font-style: italic;
}

.project_list {
	list-style: none;
	padding: 0px;
}

.project_list img {
	width: 40%;
	max-width: 300px;
	padding: 0px 20px 20px 0px;
	float: left;
}

.project_container {
	display: inline-block;
	width: 100%;
}

.project_text {
	text-align: left;
}


footer {
	text-align: center;
	background-color: #333;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 0px 25px;
}

footer p {
	color: white; 
	font-size: 16px;
	text-transform: uppercase;
}

footer ul {
	list-style: none;
	padding: 5px;
}

footer li {
	display: inline;
	padding: 10px;
	color: white;
}

footer a {
	text-decoration: none;
}