body {
	font-family: helvetica;
	margin: 0 auto;
	max-width: 600px;
	width: 100%;
}

nav ul {
	list-style: none;
	text-align: center;
}

nav li {
	display: inline;
	padding: 5px;
}

h1 {
	font-size: 30px;
	color: orange;
}

h2 {
	font-size: 18px;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 1px;
}

a {
	text-decoration: none;
	color: orange;
}

p {
	font-size: 18px;
	line-height: 30px;
}

footer {
	text-align: center;
	background-color: #333;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
}

footer p {
	color: white; 
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 300;
}

footer ul {
	list-style: none;
	text-align: center;
	padding: 5px;
}

footer li {
	display: inline;
	padding: 10px;
}

footer a {
	text-decoration: none;
}